# P10 Vorlage: Machine Learning (Teil 2)

## Einleitung

Zur Überwachung von Vital- und Bewegungsparametern wurde der Körper
von Menschen mit verschiedenen Sensoren ausgestattet. Diese senden über ein drahtloses
Sensornetz alle fünf Sekunden ihre Daten an einen zentralen Rechner, wo die Daten ausgewertet
werden sollen. Wir wollen versuchen, anhand der Daten herauszufinden, welcher
Aktivität die Person aktuell nachgeht. Hierbei sollen folgende Aktivitäten (= Klassen) unterschieden
werden (mit angegeben ist die Klassen-Nummerierung):
- Liegen (0)
- Sitzen (1)
- Stehen (2)
- Gehen (3)
- Laufen (4)
- Radfahren (5)

Die Sensoren liefern hierzu folgende Bewegungs- und Vitalparameter (alle gemittelt über
jeweils fünf Sekunden):
- v_x: Geschwindigkeit in x-Richtung (horizontal)
- v_y: Geschwindigkeit in y-Richtung (vertikal)
- a_abs_x: Betrag der Beschleunigung in x-Richtung
- a_abs_y: Betrag der Beschleunigung in y-Richtung
- a_var_x: Varianz der Beschleunigung in x-Richtung
- a_var_y: Varianz der Beschleunigung in y-Richtung
- heart_rate: Herzschlag
- body_temp: Körpertemperatur
- blood_pressure_low: Blutdruck (diastolischer Wert)
- blood_pressure_high: Blutdruck (systolischer Wert)
- age: Alter, unterteilt in die drei Größenordnungen „young“, „middle“ und „old“

Eine Datenbank zum Trainieren unseres Systems liegt in der Datei database_training.csv
vor.

## Vorgehensweise

Lesen Sie die Daten der CSV-Datei durch die Verwendung einer geeigneten Pandas-Funktion ein.

In [1]:
import pandas as pd
dataframe = pd.read_csv('database_training.csv')  # Einlesen der Daten im CSV-File in ein Pandas-DataFrame

In dem nun vorliegenden DataFrame liegen die Daten der Merkmale (nach oben aufgeführter
Sortierung) zusammen mit ihren Zielgrößen (Klassenlabels) vor, wie nachfolgend sichtbar.

In [2]:
dataframe.head()

,Unnamed: 0,v_x,v_y,a_abs_x,a_abs_y,a_var_x,a_var_y,heart_rate,body_temp,blood_pressure_low,blood_pressure_high,age,label
0,0,0.018499,0.064238,9.901068,0.037793,0.011977,0.058820,69.374172,36.573928,81.386801,125.831797,middle,0.0
1,1,0.072561,0.040411,9.788648,0.049675,0.093034,0.088790,72.853029,36.669077,74.027770,118.544641,young,0.0
2,2,0.017227,0.002426,9.751765,0.010925,0.091010,0.065621,70.348332,37.381143,78.797816,121.596693,middle,0.0
3,3,0.076551,0.007210,9.740146,0.021282,0.074918,0.047278,69.425905,36.830309,79.813959,123.849766,middle,0.0
4,4,0.040701,0.009288,9.853633,0.021192,0.076053,0.030555,72.691210,37.298334,71.851608,114.497185,young,0.0

Unterteilen Sie nun die Datenbank in eine Matrix mit Merkmalswerten und einen
Vektor mit Klassenlabels. Sie können auf die entsprechenden Spalten des
DataFrames wie gewohnt zugreifen:

In [3]:
features = dataframe.loc[:,'v_x':'age']         # Auswahl der Merkamle aus dem DataFrame
labels = dataframe.loc[:,"label"]

Lassen Sie sich mittels head()-Funktion die ersten paar Zeilen des DataFrames ausgeben.

Wie oben bereits angemerkt, liegt das Merkmal "age" nicht als kontinuierliche Variable (also als eine einfache Angabe des Alters in Jahren) vor, sondern als sog. kategorische Variable mit den Werten "young", "middle" und "old". Ein Trainieren eines Systems mit diesen kategorischen Werten ist nicht (ohne Weiteres) möglich. Löschen Sie daher die Spalte "age" aus dem DataFrame. Überprüfen Sie dies, indem Sie sich erneut mittels head() die ersten paar Zeilen anzeigen lassen.

Machen Sie sich mit den Daten vertraut, indem Sie die Merkmalsmatrix visualisieren und begutachten. Da der Datenbestand einige Merkmale beinhaltet, bietet sich eine Scattermatrix an. Versuchen Sie möglichst viel Erkenntnisse über die Daten aus dieser Visualisierung zu ziehen. Was können Sie erkennen?

Legen Sie nun die Werte der Merkmalsmatrix in einem Numpy-Array X und
die Klassenlabels in einem Numpy-Array y ab, indem Sie das values-Attribut verwenden (siehe auch Versuch P9).

Unterteilen Sie den Datenbestand in Trainings- und Testdaten.

Entscheiden Sie sich für ein Klassifikationsmodell und trainieren Sie dieses.

Ermitteln Sie die Erfolgsquote auf den Trainings- und Testdaten sowie die Konfusionsmatrix auf den Testdaten und interpretieren Sie die Ergebnisse. Stellen Sie sicher, dass es nicht zu Overfitting kommt.

Wenn Sie mit dem Ergebnis unzufrieden sind, entscheiden Sie sich für einen anderen
Klassifikator oder ändern Sie die Parameter des Modells, bis das Ergebnis für Sie zufriedenstellend erscheint.