# P6 Vorlage: Pandas für Fortgeschrittene (Teil 1)

In diesem Versuch sollen einige fortgeschrittenene Anwendungen von Pandas geübt werden. 

Zunächst wird die NBA-Datenbank (die sie zuvor - bspw. von Moodle - heruntergeladen und im selben Dateipfad wie dieses Jupyter-Notebook abgelegt haben) eingelesen:

In [1]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")

Ausgabe der ersten paar Zeilen der Datenbank:

In [2]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

# Aufgabe: Bulls vs. Pistons

Im Zeitraum zwischen 1988 und 1991 herrschte eine große Rivalität zwischen den beiden Clubs.

1. Erzeugen Sie einen neuen DataFrame für die folgenden Aufgaben, der nur die benötigten Daten enthält. Hierbei handelt es sich ausschließlich um die Spiele zwischen den Bulls und den Pistons im Zeitraum von 1988 bis 1991. Die folgenden Fragen beziehen sich daher auch ausschließlich auf diese Daten. Bei Bedarf können Sie natürlich auch noch weitere spezialisierte DataFrames anlegen.
2. Wie ist die Bilanz der beiden Teams (Siege und Niederlagen in direkten Duellen) für beide Teams im gesamten Zeitraum 1988 bis 1991?
3. Wie viele Siege erzielten die Bulls in den einzelnen Jahren 88-91?
4. Welches war der höchste Sieg der Bulls im Jahr 1991?
5. Wie viele Punkte pro Jahr erzielten die Bulls im Schnitt in dem genannten Zeitraum. Ermitteln Sie dasselbe für die Pistons. Visualisieren Sie das Ergebnis.
6. Visualisieren Sie die Punktedifferenz in den Ergebnissen für alle direkten Duelle mit einem geeigneten Diagramm.
7. Welche Mannschaft hat die schlechteste Auswärtsbilanz im Zeitraum? Berechnen Sie den Wert basierend auf Siegen und anschließend basierend auf Punkten. Gezählt werden sollen nur Spiele die nicht in den Playoffs stattfinden.

## Lösung:

### Teilaufgabe 1

Erzeugen Sie einen neuen DataFrame für die folgenden Aufgaben, der nur die benötigten Daten enthält. Hierbei handelt es sich ausschließlich um die Spiele zwischen den Bulls und den Pistons im Zeitraum von 1988 bis 1991. Die folgenden Fragen beziehen sich daher auch ausschließlich auf diese Daten. Bei Bedarf können Sie natürlich auch noch weitere spezialisierte DataFrames anlegen.

### Teilaufgabe 2

Wie ist die Bilanz der beiden Teams (Siege und Niederlagen in direkten Duellen) für beide Teams im gesamten Zeitraum 1988 bis 1991?

### Teilaufgabe 3

Wie viele Siege erzielten die Bulls in den einzelnen Jahren 88-91?

### Teilaufgabe 4

Welches war der höchste Sieg der Bulls im Jahr 1991?

### Teilaufgabe 5

Wie viele Punkte pro Jahr erzielten die Bulls im Schnitt in dem genannten Zeitraum. Ermitteln Sie dasselbe für die Pistons. Visualisieren Sie das Ergebnis.

### Teilaufgabe 6

Visualisieren Sie die Punktedifferenz in den Ergebnissen für alle direkten Duelle mit einem geeigneten Diagramm.

### Teilaufgabe 7

Welche Mannschaft hat die schlechteste Auswärtsbilanz im Zeitraum? Berechnen Sie den Wert basierend auf Siegen und anschließend basierend auf Punkten. Gezählt werden sollen nur Spiele die nicht in den Playoffs stattfinden.