# P7 Vorlage: Pandas für Fortgeschrittene (Teil 2)

In diesem Versuch sollen erneut einige fortgeschrittenene Anwendungen von Pandas geübt werden. 

Zunächst wird die NBA-Datenbank eingelesen und dargestellt:

In [1]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")

In [2]:
pd.set_option("display.max.columns", None)
nba.tail(20)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126294,63148,201505240CLE,NBA,0,2015,5/24/2015,95,1,CLE,Cavaliers,114,1701.5128,1703.7124,60.254032,ATL,Hawks,111,1591.4017,1589.2021,H,W,0.770210,NaN
126295,63148,201505240CLE,NBA,1,2015,5/24/2015,97,1,ATL,Hawks,111,1591.4017,1589.2021,49.744450,CLE,Cavaliers,114,1701.5128,1703.7124,A,L,0.229790,NaN
126296,63149,201505250HOU,NBA,1,2015,5/25/2015,96,1,GSW,Warriors,115,1813.4543,1797.8933,67.053963,HOU,Rockets,128,1643.4324,1658.9934,A,L,0.599427,NaN
126297,63149,201505250HOU,NBA,0,2015,5/25/2015,98,1,HOU,Rockets,128,1643.4324,1658.9934,56.407814,GSW,Warriors,115,1813.4543,1797.8933,H,W,0.400573,NaN
126298,63150,201505260CLE,NBA,0,2015,5/26/2015,96,1,CLE,Cavaliers,118,1703.7124,1712.1232,60.934734,ATL,Hawks,88,1589.2021,1580.7914,H,W,0.774661,NaN
126299,63150,201505260CLE,NBA,1,2015,5/26/2015,98,1,ATL,Hawks,88,1589.2021,1580.7914,48.898579,CLE,Cavaliers,118,1703.7124,1712.1232,A,L,0.225339,NaN
126300,63151,201505270GSW,NBA,1,2015,5/27/2015,99,1,HOU,Rockets,90,1658.9934,1654.6359,56.013645,GSW,Warriors,104,1797.8933,1802.2509,A,L,0.201778,NaN
126301,63151,201505270GSW,NBA,0,2015,5/27/2015,97,1,GSW,Warriors,104,1797.8933,1802.2509,67.324539,HOU,Rockets,90,1658.9934,1654.6359,H,W,0.798222,NaN
126302,63152,201506040GSW,NBA,1,2015,6/4/2015,97,1,CLE,Cavaliers,100,1712.1232,1708.1705,60.616585,GSW,Warriors,108,1802.2509,1806.2035,A,L,0.250779,NaN
126303,63152,201506040GSW,NBA,0,2015,6/4/2015,98,1,GSW,Warriors,108,1802.2509,1806.2035,67.566650,CLE,Cavaliers,100,1712.1232,1708.1705,H,W,0.749221,NaN
126304,63153,201506070GSW,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,1708.1705,1716.8708,61.312763,GSW,Warriors,93,1806.2035,1797.5032,A,W,0.242326,NaN
126305,63153,201506070GSW,NBA,0,2015,6/7/2015,99,1,GSW,Warriors,93,1806.2035,1797.5032,67.029549,CLE,Cavaliers,95,1708.1705,1716.8708,H,L,0.757674,NaN
126306,63154,201506090CLE,NBA,1,2015,6/9/2015,100,1,GSW,Warriors,91,1797.5032,1790.9591,66.615417,CLE,Cavaliers,96,1716.8708,1723.4149,A,L,0.472157,NaN
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,1716.8708,1723.4149,61.826408,GSW,Warriors,91,1797.5032,1790.9591,H,W,0.527843,NaN
126308,63155,201506110CLE,NBA,1,2015,6/11/2015,101,1,GSW,Warriors,103,1790.9591,1809.9791,67.794983,CLE,Cavaliers,82,1723.4149,1704.3949,A,W,0.453428,NaN
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

#  Aufgaben

1) In wie vielen Spielen erzielte eine der Mannschaften weniger als 50 Punkte? In wie vielen mehr als 150 Punkte?
2) Geben Sie die Zeile (= das Spiel) aus, bei dem die höchste je erzielte Punktzahl erreicht wurde.
3) Wie viele Spiele haben die Boston Celtics (`team_id` = BOS) im gesamten Zeitraum gespielt?
4) Wie viele Punkte erzielten die Golden State Warriors (`team_id`= GSW) im Schnitt (=arithmetisches Mittel) im gesamten Zeitraum und wie viele im Zeitraum seit dem Jahr 2000?
5) Wie hat sich die Anzahl der Punkte  pro Spiel über die Jahre geändert? Erstellen Sie eine geeignete Visualisierung.
6) Erzeugen Sie die neue Spalte `difference` im DataFrame nba. Diese soll die Differenz zwischen der Spalte `pts`und der Spalte `opp_pts` enthalten. Visualisieren Sie die Häufigkeitsverteilung der Punktedifferenzen der Spiele (ohne Kopien -> Spalte `_iscopy == 0`) mit einem Histogram.

## Lösung:

### Teilaufgabe 1

In wie vielen Spielen erzielte eine der Mannschaften weniger als 50 Punkte? In wie vielen mehr als 150 Punkte?

### Teilaufgabe 2

Geben Sie die Zeile (= das Spiel) aus, bei dem die höchste je erzielte Punktzahl erreicht wurde.

### Teilaufgabe 3

Wie viele Spiele haben die Boston Celtics (`team_id` = BOS) im gesamten Zeitraum gespielt?

### Teilaufgabe 4

Wie viele Punkte erzielten die Golden State Warriors (`team_id`= GSW) im Schnitt (=arithmetisches Mittel) im gesamten Zeitraum und wie viele im Zeitraum seit dem Jahr 2000?

### Teilaufgabe 5

Wie hat sich die Anzahl der Punkte pro Spiel über die Jahre geändert? Erstellen Sie eine geeignete Visualisierung.

### Teilaufgabe 6

Erzeugen Sie die neue Spalte `difference` im DataFrame nba. Diese soll die Differenz zwischen der Spalte `pts`und der Spalte `opp_pts` enthalten.
Visualisieren Sie die Häufigkeitsverteilung der Punktedifferenzen der Spiele (ohne Kopien -> Spalte `_iscopy == 0`) mit einem Histogram.